@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.body{
    font-family: 'Poppins', sans-serif;
}
/* ############################ Utility Clases ######################### */
.container{
    /* max-width: 1200px; */
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.size{
    font-size: 50px;
}
.size1{
    font-size: medium;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: whitesmoke;
}
.size2{
    font-size: 2rem;
    font-weight: 2rem;
}
.spacing{
    word-spacing: 0.3rem;
}




/* for desktop mode */
.navbar input[type="checkbox"], .navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 3px 5px 0px #aaa;
    background: white;
    position: fixed;
    width: 100%;
    opacity: 0.85;
    z-index: 99;
}
.navbar-container{
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    flex-direction: row-reverse;
}
.logo img{
    width: 100px;
    height: 50px;
}
.menu-items{
    list-style: none;
    display: flex;
}
.menu-items li{
    padding: 1.5rem;
    font-size: 1.8rem;
}
.navbar a{
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.menu-items  a:hover{
    color: green;
    border: 2px solid green;
    border-radius: 1rem;
}

/* ########################################### banner-section ######################################### */
.banner{
    font-family: 'Roboto', sans-serif;
    height: 60vh;
    background: url("./img/ales-krivec-QnNqGoCnBg0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.bg-banner{
    position: relative;
}

.banner-content{
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
   background-color: green;
   border-radius: 1rem;
   padding: 1rem 2rem;
   font-size: x-large;
   color: white;
   margin-top: 100px;
   transition: background-color 0.5s ease-in-out;

}
.btn:hover{
    background-color: orange;
    color: black;
}
.banner-content .menu-spacing{
    margin-bottom: 2rem;
}

/* ####################################### About Us CSS ################################# */
.showcase{
    padding: 20px 0px;
    background: #f5f5f7;
}
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.showcase h3{
    text-align: center;
    font-size: x-large;
    /* box-shadow: ; */
}
.showcase h1{
    font-size: xx-large;
    margin: 0.5rem 0;
    text-align: center;
}
.showcase p{
    color: #555;
    font-size: 1.6rem;
    margin: 2rem 0rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    line-height: 2.3rem;
    text-align: center;
    text-shadow: rgba(29, 28, 28, 0.286) 1px 0 10px;
}
.small{
    font-size: 1.6rem;
    color: #aaa;
}
.content-wrap{
    font-family: 'Montserrat', sans-serif;
    flex: 1 1 400px;
    padding: 30px;
    margin: 2rem 1rem;
    transform: translate(-120%);
    animation: collapse-text 1s ease-in-out forwards;
}
@keyframes collapse-text{
    100%{
        transform: translate(0%);
    }
}
.img-content{
    flex: 1 1 400px;
    padding: 30px;
  
}
.img-content img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transform: translateX(120%);
    animation: collapse-img 1s ease-in-out forwards;
    
}

@keyframes collapse-img{
    100%{
        transform: translate(0%);
    }
}

/* ##################################### Food-variety CSS ################################### */
.food-variety{
    margin: 20px 0px;
    text-align: center;
}
.style{
    font-family: 'Roboto', sans-serif;
    font-family: 700;
    font-size: xx-large;
    word-spacing: 0.5rem;
    text-shadow: rgba(29, 28, 28, 0.286) 1px 0 10px;
    margin-bottom: 2rem;
}
.food-container{
    display: flex;
    justify-content: space-between;
}
.img-container img{
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0rem 1rem;
    position: relative;
}
.img-content-over{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.overlay-font{
    font-size: x-large;
    color: white;
    text-shadow: rgba(29, 28, 28, 0.286) 1px 0 10px;
    margin: 1rem 0rem;
}
.btn-primary{
    background: green;
    font-size: large;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.497);
    z-index: 1;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content-over{
    opacity: 1;
    top: 40%;
}

/* ################################ Food-Menu ############################## */
.menu-heading{
    margin: 20px 0px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5rem;
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 50px 0px;
}
.menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.menu-item{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.img-item-content h2{
    font-size: x-large;
}
.img-item-content p{
    font-size: large;
}
.img-item-content{
    margin: auto 2rem;
}
.food-title{
    color: green;
    
}
.img-item-content p{
    color: #555;
}
.img-item-content .food-price{
    color: olivedrab;
}

/* ############################### testimonial CSS ################################# */
.testimonal-heading{
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.2rem;
    padding-top: 2rem;
}
.star{
    display: flex;
    padding: 1rem 12.5rem;
}
.test img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 1rem 5rem;
}
.testimonial{
    background-color: rgb(238, 237, 237);
    padding-bottom: 0.1rem;
}
.testimonal-container{
    display: flex;
    flex: 1 1 200px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem auto;
}
.test p,h4{
    text-align: center;
    font-size: medium;
   
}
.test h4{
    display: inline-block;
    padding: 1rem 12.5rem;
}
.star{
    color: goldenrod;
}

/* ########################################## contact CSS ############################################## */
.contact-form{
    background-color: #f5f5f7;
    padding: 5rem 0;
}
.content-container{
    background-color: whitesmoke;
    display: flex;
    /* flex-wrap: wrap; */
    box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.363);
}
.image-content{
    width: 50%;
    background: white;
}
.content-container img{
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    padding: 1rem 1rem;
}
.form-content{
    background: white;
    width: 50%;
    padding: 1rem 1rem;
}
.form-content .contact-heading{
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    border-bottom: 3px solid green;
}
.same{
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}
label{
    font-size: large;
    font-family: 'Roboto', sans-serif;
}
input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    outline: none;
    margin-bottom: 1rem;
    font-weight: 500;
}
textarea{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-weight: 500;
    padding: 2rem 0rem;
    outline: none;
    max-width: 580px;
    max-height: 20px;
}
.form-btn{
    color: white;
    font-size: large;
    background-color: green;
    padding: 0.5rem 5rem;
    border-radius: 1rem;
    margin: 1rem -10rem;
}

/* ######################## Footer CSS ############################### */
.wrap{
    background: rgb(50, 50, 50);
}
.wrap h2{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 3rem;
    color: whitesmoke;
    text-align: center;
}

/* #################################### Responsive Media queries ############################################## */
@media (max-width:700px)
{
    .navbar{
        opacity: 0.95;
    }
    .navbar-container  input[type="checkbox"], .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"]
    {
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 15px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        height: 40px;
        width: 39px;
        position: absolute;
        top: 13px;
        left: 24px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: black;
        margin: 0.5rem 0rem;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 100px;
        background: white;
        height: 60vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.4s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0%);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    .navbar-container .logo{
        position: absolute;
        top: 5%;
        left: 67%;

    }

    .banner{
        background-position: center;
        width:100%;
        /* margin: 0rem -28rem; */
    }
    .banner-content{
        margin: auto 5rem;
        z-index: 2;
        opacity: 0;
        animation: get 1s ease-in-out forwards;
        /* animation-duration: 3s; */
    }
    @keyframes get{
        from{
            opacity: 0;
            margin: 0rem 5rem;
        }
        to{
            opacity: 1;
            margin: auto 5rem;
        }
    }
    .banner-content h1{
        font-size: XX-large;
        font-weight: 700;
        color: rgb(253, 170, 4);
    }
    .banner-content h3{
        font-weight: normal;
    }
    .banner::after{
        content: "";
        display: block;
        position: absolute;
        top:-54%;
        left: 5%;
        width: 60%;
        height: 55%;
        background: rgba(0, 0, 0, 0.497);
        z-index: 1;
        transform: scaleY(0);
        transform-origin: 100% 100%;
        animation: transform 5s ease-out forwards;
        animation-duration: 4s; 
    }
    @keyframes transform{
        from{

            top:-10%;
            transform: scaleY(0);
        }
        to{
            opacity: 0.5;
            transform: scaleY(-1);
            border-radius: 1rem;
        }
    }
    .img-content img{
        height: 300px;
    }

    /* ############## food-variety css ################ */
    .food-container{
        flex-direction: column;
        align-items: stretch;
    }
    .food-type:not(:last-child){
        margin-bottom: 3rem;
    }
    .food-type{
        box-shadow: 5px 5px 10px 0px #aaa;
    }
    .img-container{
        margin: 0;
    }
}    

@media (max-width: 500px)
{
    html{
        font-size: 50%;
    }
    .testimonal-container{
        flex-direction: column;
        text-align: center;
    }
    .menu-item{
        flex-direction: column;
        text-align: center;
    }
    .menu-container img{
        margin: auto;
    }
    .contact-form{
        width: 100%;
    }
    .content-container{
        display: flex;
        flex-direction: column;
    }
    .image-content{
        width: 90%;
        margin: 1.7rem;
    }
    .form-content{
        margin: auto 1.7rem;
        width: 90%;
        margin-bottom: 1.5rem;
    }
    .form-btn{
        margin: 1rem 7rem;
    }
    .testimonal-container img{
        margin: auto 6rem;
    }
    .star{
        padding: 1rem 16rem;
    }
}
   